.detaliiTable  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.detaliiTable td, .detaliiTable th {
	padding: 4px;
	color: #218868;
}

#dateLivrareModifTable tbody td {
	color: #473C8B;
	font-weight: normal;
}

#dateLivrareModifTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
